html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: white;
    transition: background-color 2s ease;
}

.scene {
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* z-index: -9999; */
    /* background-color: black; */
    /* border: 1px dashed black; */
}

.intro_page {
    animation: fainting 4s ease-in-out 1;
}

@keyframes shine {
    0% {
        color: white;
        transform: scale(0.4)
    }

    5% {
        color: white;
        transform: scale(0.3)
    }

    20% {
        color: white;
        transform: scale(21.2)
    }

    22% {
        color: white;
        transform: scale(22.2)
    }

    25% {
        transform: scale(23.2)
    }

    29% {
        transform: scale(24.2)
    }

    32% {
        transform: scale(24.2)
    }

    80% {
        transform: scale(25.2)
    }
}

@keyframes fainting {
    0% {
        background-color: white
    }

    60% {
        background-color: white
    }

    65% {
        background-color: black
    }

    69% {
        background-color: white
    }

    73% {
        background-color: black
    }

    80% {
        background-color: white
    }
}

.plant {
    display: inline-block;
    vertical-align: top;
    color: white;
    filter: blur(5px);
    transition: all .5s ease-in-out;
}

.plant:hover {
    color: black;
    filter: blur(0px);
}

.plant_clearer {
    display: inline-block;
    vertical-align: top;
    color: white;
    filter: blur(1.5px);
    transition: all .1s ease-in-out;
}

.plant_clearer:hover {
    color: black;
    filter: blur(0px);
}

#plant1 {
    margin-top: 50px;
}

#plant2 {
    margin-top: 10px;
    transform: scale(1.77);
}

#plant3 {
    margin-left: 50px;
    margin-top: 50px;
    transform: scale(0.9);
}

#plant4 {
    margin-left: -40px;
    margin-top: 30px;
}

#plant5 {
    margin-left: -30px;
    margin-top: 42px;
    transform: scale(0.8);
}

#plant6 {
    margin-left: -30px;
    margin-top: 42px;
    transform: scale(0.8) rotate(-18deg);
}

#plant7 {
    margin-left: 0px;
    margin-top: 12px;
    transform: scale(1.8);
}

#plant8 {
    margin-left: -30px;
    margin-top: 42px;
    transform: scale(0.8);
}

#plant9 {
    margin-left: -30px;
    margin-top: 52px;
    transform: scale(0.8) rotate(18deg);
}

#plant10 {
    margin-left: 30px;
    margin-top: 32px;
    transform: scale(1.2);
}

#plant11 {
    margin-left: -30px;
    margin-top: 42px;
    transform: scale(1.1) rotate(10deg);
}

#plant12 {
    margin-left: -35px;
    margin-top: 52px;
    transform: scale(0.8);
}

#plant13 {
    margin-left: -25px;
    margin-top: 32px;
    transform: scale(1.2);
}

.tree1 span:nth-child(1) {
    font-size: 30px;
}

.tree1 span:nth-child(2) {
    font-size: 100px;
    left: -5px;
    top: 20px;
    position: relative;
}

.tree1 span:nth-child(3) {
    font-size: 30px;
    left: -20px;
    top: 5px;
    position: relative;
}

.tree1 span:nth-child(4) {
    font-size: 30px;
    left: -20px;
    position: relative;
    /* translate: rotate(20deg); */
}


.tree2 span:nth-child(1) {
    font-size: 120px;
}

.tree2 span:nth-child(2) {
    font-size: 40px;
    left: -10px;
    top: -35px;
    position: relative;

}

.tree2 span:nth-child(3) {
    font-size: 30px;
    left: -55px;
    top: -30px;
    position: relative;
}

.tree2 span:nth-child(4) {
    font-size: 20px;
    left: -75px;
    top: -40px;
    position: relative;
}

.berry {
    position: absolute;
    left: 20px;
    top: 70px;
    animation: blink 1s ease-in-out infinite;
}

.berry span:nth-child(1) {
    position: relative;
    left: 1px;
    top: -2px;
}

.berry span:nth-child(3) {
    position: relative;
    top: -2px;
}

.berry span:nth-child(5) {
    position: relative;
    top: -2px;
}

.berry:hover {
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: 100%
    }

    to {
        opacity: 0%
    }
}

.interactionBox {
    position: relative;
    left: 45px;
    top: -48px;
    font-size: 10px;
    width: 50px;
    height: 20px;
    display: none;
    z-index: 999;
}

#plant13:hover .interactionBox {
    display: block;
}

.sun {
    margin-top: -350px;
    margin-left: 20px;
    /* animation: shine 2s ease-in-out infinite alternate; */
    font-size: 900px;
    position: fixed;
    /* color: white; */
    /* transform: scale(25.2); */
    /* filter: blur(1px); */
}


.tree_container {
    top: 550px;
    left: 20px;
    /* width: 1000px; */
    display: inline-block;
    position: fixed;
    margin-left: 1300px;
    /* margin-top: 400px; */
    z-index: 99999;
}


.river_container {
    top: 550px;
    left: 4000px;
    /* width: 1800px; */
    position: fixed;
    margin-left: 2000px;
    margin-top: 7px;
}

.river {
    color: white;
    padding: 100px;
    position: relative;
    margin-left: 300px;
}

.river span {
    font-size: 100px;
    position: relative;
    transition: top .1s linear;
}

.river span:nth-child(odd) {
    top: -80px;
    margin-left: 100px;
}

.river span:nth-child(last) {
    top: -80px;
    margin-left: 0px;
}


.river span:nth-child(even) {
    top: -40px;
    margin-left: 100px;
}

.drink {
    color: white;
    position: fixed;
    font-size: 20px;
    left: 1080px;
    top: 615px;
    z-index: 99999;
    animation: blink 1s ease-in-out infinite;
}

.drink span:nth-child(1) {
    position: relative;
    left: -35px;
}

.water {
    color: white;
    position: fixed;
    font-size: 20px;
    left: 1015px;
    top: 645px;
    z-index: 99999;
    animation: blink 1s ease-in-out infinite;
}

.drink_water {
    z-index: 9999;
}

.drink_water:hover {
    cursor: pointer;
}

.interactionBox2 {
    color: white;
    position: fixed;
    left: 1090px;
    top: 635px;
    width: 80px;
    height: 80px;
    font-size: 12px;
    display: block;
    z-index: 99999;
    animation: blink 1s ease-in-out infinite;
    /* background-color: aqua; */
}

.interactionBox2:hover {
    cursor: pointer;
}

.interactionBox3 {
    color: white;
    position: fixed;
    left: 1110px;
    top: 645px;
    width: 50px;
    font-size: 12px;
    display: block;
    z-index: 999;
    padding: 2px 1px;
    border: 1px solid white;
}

.interactionBox3:hover {
    cursor: pointer;
}


.fire {
    position: absolute;
    margin-left: 1000px;
    margin-top: 400px;
    transform: scale(0.5);
    /* margin-left: 30%; */
    /* margin-top: 8000px; */
    /* transition: all 3s ease-in-out; */
    animation: creation 1s ease-in-out;
    z-index: -999;
}

@keyframes creation {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.message_board {
    /* background-color: aqua; */
    width: 200px;
    height: 200px;
    position: fixed;
    top: 55%;
    left: 60%;
    overflow: hidden;
    position: absolute;
}

.theme_image {
    margin-left: 1%;
    margin-top: 5px;
    /* margin-bottom: 30px; */
    width: 520px;
    animation: creation 2s ease-in-out;
    position: fixed;
    z-index: 999999;
    cursor: pointer;
}

.title1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: opacity 2s ease-in-out;
    animation: flickering 2s ease-in-out alternate;
    position: fixed;
    top: 35%;
    left: 41.5%;
    color: white;
    font-size: 50px;
    z-index: 9999;
    opacity: 100%;
}

.title2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: opacity 2s ease-in-out;
    animation: flickering 2s ease-in-out infinite alternate;
    position: fixed;
    top: 65%;
    left: 37.5%;
    text-align: center;
    color: white;
    font-size: 50px;
    z-index: 9999;
    /* opacity: 0%; */
}

.title2:hover {
    text-decoration: underline;
    font-style: italic;
    cursor: default;
}

.hide {
    opacity: 0%;
}

.show {
    opacity: 100%;
}

/* referenced https://gist.github.com/CodeMyUI/54ae3425579d7b7bc85a58a70f9e124b */
@keyframes flickering {
    0% {
        opacity: 0.15;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.12;
    }

    15% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.15;
    }

    30% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.7;
    }
}

a {
    color: white;
    text-decoration: none;
}

.peek_container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px dashed rgb(112, 111, 111);
    vertical-align: top;
    display: inline-block;
    width: 49%;
    height: 93vh;
}

.peephole {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 400px;
    height: 400px;
    border-radius: 500px;
    box-shadow: 0 0 300px rgba(0, 0, 0, 0.851);
    transition: all 2s ease-in-out;
    animation: creation 1s ease-in-out;
    overflow: hidden;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.581);
}


.book_container {
    width: 49%;
    height: 93vh;
    vertical-align: top;
    display: inline-block;
}

.delacy {
    margin-left: 6%;
    margin-top: 20%;
    animation: fading-in 4s ease-in-out;
    opacity: 80%;
    transform: scale(1.323);
    z-index: -1;
}

@keyframes fading-in {
    0% {
        transform: scale(1);
        opacity: 0%
    }
    50% {
        transform: scale(1);
        opacity: 100%
    }

    80% {
        transform: scale(1.323);
        opacity: 80%
    }

    100% {
        transform: scale(1.323);
        opacity: 80%
    }
}

.book {
    margin-top: 12%;
    width: 100%;
    height: 70%;
    display: flex;
}

.single_page {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-top: 0px;
    background: #f5f0e8;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
}

/* .para1 {
    position: relative;
    width: 90%;
    line-height: 1.35;
} */

/* #para1_p {
    position: relative;
} */

.letter {
    display: inline-block;
    position: relative;
    transition: transform 2s ease, opacity 1s ease, filter 1s ease;
}

.word {
    display: inline-block;
    margin-right: 5px;
    transition: transform 1s ease, color 1s ease, border-bottom .3s ease, background-color .3s ease, opacity 0.6s ease, filter 0.6s ease;
}

.subject {
    border-bottom: 2px solid rgba(161, 22, 22, 0.697);
}

.verb {
    background-color: rgba(255, 187, 0, 0.434);
    /* border-bottom: 2px solid rgba(255, 187, 0, 0.69); */
}

.object {
    border-bottom: 2px dashed rgba(27, 155, 27, 0.68);
}

.predicate {
    border-bottom: 2px solid rgba(13, 143, 217, 0.68);
}


.emotion {
    letter-spacing: 1px;
    font-weight: bold;
}

.instruction {
    position: absolute;
    top: 645px;
    left: 960px;
    font-size: 13px;
    opacity: 0.5;
    display: inline-block;
}

@keyframes flyIn {
    0% {
        transform: translate(var(--startX), var(--startY));
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.book_cover {
    width: 95%;
    height: 100%;
    margin-left: -15px;
    margin-top: -105px;
    background: #f5f0e8;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
}

.book_cover:hover {
    transform: scale(1.02);
}

.emotion {
    display: inline-block;
    font-style: italic;
    text-decoration: underline;
    transition: 0.3s;
}

.emotion:hover {
    letter-spacing: 2px;
}

.guilt:hover {
    color: #6b1d1d;
    animation: shakeDiminish 0.5s ease-in-out alternate infinite;
}

.temptation:hover {
    color: darkgreen;
}

.death:hover {
    color: black;
    text-shadow: 0 0 8px gray;
}

.sorrow:hover {
    color: #3f5f8f;
}

.loss:hover {
    opacity: 0.4;
}

.hope:hover {
    color: goldenrod;
    text-shadow: 0 0 8px gold;
}

.paradise:hover {
    color: #8a6f2a;
}

.divine:hover {
    color: #b8860b;
    text-shadow: 0 0 10px white;
}

.creation:hover {
    color: purple;
    letter-spacing: 4px;
}

.prayer:hover {
    color: #5d4b8c;
}

.ambition:hover {
    transform: translateY(-6px);
    display: inline-block;
}

@keyframes shakeDiminish {
    0% {
        transform: translateX(0px) scale(1);
    }
    25% {
        transform: translateX(-5px) scale(0.95);
    }
    50% {
        transform: translateX(5px) scale(0.9);
    }
    75% {
        transform: translateX(-5px) scale(0.85);
    }
    100% {
        transform: translateX(0px) scale(0.8);
    }
}

.has-image {
    position: relative;
}

.hover-image {
    position: absolute;
    bottom: 120%;   /* show above word */
    left: 50%;
    transform: translate(10%, 115%) scale(0.8);
    
    width: 150px;
    opacity: 0;
    pointer-events: none;

    transition: 0.3s ease;
}

.has-image:hover .hover-image {
    opacity: 1;
    transform: translate(10%, 115%) scale(1);
}


.thought_stream {
    position: fixed;
    top: 18%;
    left: 22%;
    width: 330px;
    height: 360px;
    overflow: hidden;
    z-index: 20;
}

.thought_scroll {
    position: relative;
    top: 12%;
    left: 13%;
    height: 1600px;
    /* transition: transform 0.8s ease-in-out; */
}

.thought_day {
    height: 360px;
    padding-top: 25px;
}

.thought_bubble {
    width: 230px;
    margin-bottom: 12px;
    padding: 10px 14px;
    border-radius: 30px;
    /* background: rgba(245, 240, 232, 0.9); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.35;
    opacity: 0;
    transform: translateY(15px);
    animation: bubbleIn 0.7s ease forwards;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    z-index: 999;
}

.thought_bubble:nth-child(2) {
    margin-left: 35px;
    animation-delay: 0.25s;
}

.thought_bubble:nth-child(3) {
    margin-left: 10px;
    animation-delay: 0.5s;
}

@keyframes bubbleIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.peek_hint {
    position: fixed;
    left: 18%;
    bottom: 130px;
    color: rgb(90, 90, 90);
    font-size: 13px;
    opacity: 0.7;
    animation: creation 10s ease-in-out;
}

.thought_note {
    position: fixed;
    width: 160px;
    padding: 10px 14px;
    background: rgba(86, 86, 86, 0.791);
    color: white;
    border-radius: 18px;
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    line-height: 1.35;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
    z-index: 30;
    opacity: 0;
    animation: thoughtFloatIn 1s ease forwards;
}

@keyframes thoughtFloatIn {
    from {
        opacity: 0;
        transform: translateY(15px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.bubble_avatar {
    width: 34px;
    height: 34px;
    border-radius: 60%;
    object-fit: cover;
    flex-shrink: 0;
    opacity: 0.85;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.para{
    perspective: 1000px;
}

.page_flip {
    animation: pageFlip 0.8s ease forwards;
    transform-origin: left center;
}

@keyframes pageFlip {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }

    50% {
        transform: rotateY(-90deg);
        opacity: 0.4;
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.fire_center {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scene_forest{
    height: 250vh;
}

.scene_river{
    height: 250vh;
}

.scene_cold {
    color: white;
}

.scene_fire {
    color: white;
}

.scene_moon {
    color: white;
}

.scene_village {
    color: white;
}

.moon {
    position: fixed;
    top: -10%;
    left: -5%;
    transform: translateX(-50%);
    font-size: 500px;
    color: white;
    text-shadow: 0 0 25px white;
}

.path {
    position: absolute;
    top: 62%;
    left: 48%;
}

.path span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: opacity 1s ease;
}

.path span.show_dot {
    opacity: 1;
}

.village {
    position: absolute;
    top: 62%;
    left: 35%;
    display: flex;
    gap: 30px;
}

.village p {
    border: 1px solid white;
    padding: 20px;
}


.narrative {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    padding: 28px 36px;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    z-index: -99999;
    background-color: none;
    animation: creation 3s ease forwards;
}


.narrative.show_narrative {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.footprint_svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

.footprint {
    opacity: 0;
    /* transition: opacity 1.5s ease; */
    fill: rgba(255, 255, 255, 0.65);
}

.house_container {
    top: 350px;
    left: 20px;
    display: inline-block;
    position: fixed;
    margin-left: 2300px;
    z-index: 999999;
    /* background-color: aqua; */
    cursor: pointer;
}

.house{
    transform: scale(1);
}

.house:hover {
    filter: blur(0px);
    transform: scale(1.1);
}


#house1 {
    margin-left: -25px;
    margin-top: 32px;
    transform: scale(1.1);
}

#house2 {
    margin-left: -24px;
    margin-top: -82px;
    transform: scale(0.7);
    filter: blur(5px);
}

#house3 {
    margin-left: 165px;
    margin-top: -332px;
    transform: scale(1.5);
    filter: blur(8px);
}

#house4 {
    margin-left: 95px;
    margin-top: -182px;
    transform: scale(1.2);
}

#house5 {
    margin-left: -85px;
    margin-top: 32px;
    transform: scale(0.7);
    filter: blur(10px);
}

#house6 {
    margin-left: 25px;
    margin-top: -222px;
    transform: scale(0.8);
    filter: blur(5px);
}

.house span:nth-child(1) {
    left: 80px;
    /* top: 20px; */
    font-size: 100px;
}

.house span:nth-child(2) {
    font-size: 40px;
    left: -85px;
    top: -40px;
    position: relative;
}

.house span:nth-child(3) {
    font-size: 35px;
    left: -77px;
    top: -70px;
    position: relative;
}

.house span:nth-child(4) {
    font-size: 35px;
    left: -68px;
    top: -70px;
    position: relative;
}

.house span:nth-child(5) {
    font-size: 40px;
    left: -60px;
    top: -40px;
    position: relative;
}



.split_intro_overlay {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 999999;
    pointer-events: none;
}

.split_intro_panel {
    width: 50%;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.896);
    /* background: rgba(245, 240, 232, 0.97); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Georgia, serif;
    text-align: center;
    /* color: #2b241d; */
    color: white;

    opacity: 0;
    pointer-events: auto;
    transition: opacity 1s ease, transform 1s ease;
}

.intro_left_panel {
    border-right: 3px solid white;
}

.split_intro_overlay.show_intro .split_intro_panel {
    opacity: 1;
}

.intro_label {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.45;
    margin-bottom: 20px;
}

.intro_main {
    width: 60%;
    font-size: 28px;
    line-height: 1.45;
    font-style: italic;
    opacity: 0.8;
}

.intro_hint {
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.4;
}

.intro_left_panel:hover {
    transform: translateX(-10px);
}

.intro_right_panel:hover {
    transform: translateX(10px);
}

.reveal_left {
    opacity: 0 !important;
    transform: translateX(-80px);
    pointer-events: none;
}

.reveal_right {
    opacity: 0 !important;
    transform: translateX(80px);
    pointer-events: none;
}


.page_flip_forward {
    animation: pageFlipForward 0.8s ease forwards;
    transform-origin: left center;
}

.page_flip_back {
    animation: pageFlipBack 0.8s ease forwards;
    transform-origin: right center;
}

@keyframes pageFlipForward {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }

    50% {
        transform: rotateY(-90deg);
        opacity: 0.4;
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes pageFlipBack {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }

    50% {
        transform: rotateY(90deg);
        opacity: 0.4;
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.meaning_thought_note {
    position: fixed;
    width: 170px;
    padding: 10px 14px;
    background: rgba(86, 86, 86, 0.82);
    color: white;
    border-radius: 18px;
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    line-height: 1.35;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    animation: thoughtFloatIn 0.3s ease forwards;
    transform: scale(1);
}

.language_ending {
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 34px;
    line-height: 1.5;
    text-align: center;
    animation: creation 2s ease forwards;
}

.language_ending p {
    margin: 8px;
}

.right_question {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
    transition: all 1.2s ease;
    font-style: italic;
}

.right_question.show_right {
    opacity: 1;
    transform: translateY(0px) scale(1.25);
}

.note_scale {
    transform: scale(10);
    opacity: 1;
    transition: transform 0.5s ease, opacity 1.5s ease;
}